@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    var userFullName = HttpContextAccessor.HttpContext?.Session.GetString("User_FullName");
}


<h1>@userFullName</h1>

