@model List<FoodTypes>
@{
    ViewData["Title"] = "AddFood";
}
<div class="modal-header">
    <h2 class="modal-title" id="Modal1Label">Bir yemek ekleyin.</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
   <form method="post" asp-action="AddFood" asp-controller="Food">
        <div class="row">
            <div class="col-6">
                <label>Yemek Adı:</label>
                <input type="text" class="form-control" name="Food_Name" placeholder="Su" />
            </div>
            <div class="col-6">
                <label>Fiyatı:</label>
                <input type="text" class="form-control" name="Food_Price" placeholder="16,99" />
            </div>
            <br />
        </div>
        <br />
        <label>Kateogrisi:</label>
        <select class="form-control" name="Food_Type">
            @foreach (var item in Model)
            {
                <option value="@item.FoodType_Id">@item.FoodType_Name</option>
            }
        </select>
        <br />
        <div class="row">
            <div class="col-6">
                <label>Açıklama:</label>
                <input type="text" multiple="true" name="Food_Description" class="form-control" />
            </div>
            <div class="col-6">
                <label>Fotoğraf:</label>
                <input type="text" name="Food_Photo" class="form-control" />
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Yemek Ekle</button>


    </form>
</div>
